#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-a .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-y .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-y .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-y .mbr-article {
  color: #fff;
}
#content5-y .mbr-article P {
  color: #ffffff;
}
#content5-y .mbr-header .mbr-header__text SPAN {
  color: #b8312f;
}
#ext_menu-b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-o .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-o .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-t .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-t .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-18 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-18 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1b .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1b .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1b .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1f .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1f .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1i .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1i .mbr-navbar__hamburger {
  color: #ffffff;
}
